<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="6" />
    <add key="Module.Code" value="MOD1-0005" />
    <add key="Module.Description" value="QUOTATION" />
    <add key="Quotation.TemplatesDirectory" value="E:\Desktop\CITICON SYSTEMS FILE\Quotation Templates" />
    <add key="Quotation.SaveDirectory" value="E:\Desktop\CITICON SYSTEMS FILE\Quotations" />
    <add key="QuotationRecipientNumber" value="09494671581" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>