<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="6" />
    <add key="Module.Code" value="MOD1-0005" />
    <add key="Module.Description" value="QUOTATION" />
  </appSettings>
</configuration>