<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="6" />
    <add key="Module.Code" value="MOD1-0005" />
    <add key="Module.Description" value="QUOTATION" />
    <add key="Quotation.TemplatesDirectory" value="E:\Desktop\CITICON SYSTEMS FILE\Quotation Templates" />
    <add key="Quotation.SaveDirectory" value="E:\Desktop\CITICON SYSTEMS FILE\Quotations" />
    <add key="Qoutation.SourceLocation" value="E:\Desktop\CITICON SYSTEMS FILE\Quotations" />
    <add key="QuotationRecipientNumber" value="09494671581" />
    <add key="Quotation.Version" value="2"/>
  </appSettings>
</configuration>