<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="7" />
    <add key="Module.Code" value="MOD1-0006" />
    <add key="Module.Description" value="PAYROLL" />
    <add key="TripReport.Driver.TemplatePath" value="D:\Desktop\CITICON SYSTEMS FILE\TripReport.Driver.xlsx" />
    <add key="TripReport.Driver.SaveLocation" value="D:\Desktop\CITICON SYSTEMS FILE\Trip Reports\Driver" />
    <add key="TripReport.All.Template" value="D:\Desktop\CITICON SYSTEMS FILE\TripReport.All.xlsx"/>
    <add key="TripReport.All.SaveDirectory" value="D:\Desktop\CITICON SYSTEMS FILE\Trip Reports\All"/>
    <add key="TimeLogReport.SaveDirectory" value="D:\Desktop\CITICON SYSTEMS FILE\Time-Log Reports"/>
    <add key="TimeLogReport.TemplatePath" value="D:\Desktop\CITICON SYSTEMS FILE\timelogreport.xlsx"/>
    <add key="PayrollType.SemiMonthly.Id" value="1"/>
    <add key="PayrollType.Driver.Id" value="2"/>
    <add key="PayrollType.SubContractual.Id" value="3"/>
    <add key="PayrollType.Weekly.Id" value="4"/>
    
    <!-- SEMI-MONTHLY PAYROLL -->
    
    <add key="Payroll.SemiMonthly.Template" value="D:\Desktop\CITICON SYSTEMS FILE\semi_monthly_payroll.xlsx"/>
    <add key="Payroll.SemiMonthly.SaveDirectory" value="D:\Desktop\CITICON SYSTEMS FILE\Payroll\Semi-Monthly"/>
    <add key="Payroll.SemiMonthly.RowIndexStart" value="8"/>
    <add key="Payroll.SemiMonthly.Cell[CutOff]" value="3,1"/>
    <add key="Payroll.SemiMonthly.Cell[Branch]" value="4,1"/>
    <add key="Payroll.SemiMonthly.Column[Numbering].Index" value="1"/>
    <add key="Payroll.SemiMonthly.Column[Employee].Index" value="2"/>
    <add key="Payroll.SemiMonthly.Column[VacationLeave].Index" value="3"/>
    <add key="Payroll.SemiMonthly.Column[SickLeave].Index" value="4"/>
    <add key="Payroll.SemiMonthly.Column[DailyRate].Index" value="5"/>
    <add key="Payroll.SemiMonthly.Column[BasicPay].Index" value="6"/>
    <add key="Payroll.SemiMonthly.Column[Allowance].Index" value="17"/>
    <add key="Payroll.SemiMonthly.Column[OvertimeAllowance].Index" value="18"/>
    <add key="Payroll.SemiMonthly.Column[WithholdingTax].Index" value="20"/>
    <add key="Payroll.SemiMonthly.Column[Sss].Index" value="21"/>
    <add key="Payroll.SemiMonthly.Column[SssEr].Index" value="23"/>
    <add key="Payroll.SemiMonthly.Column[SssEc].Index" value="22"/>
    <add key="Payroll.SemiMonthly.Column[Pagibig].Index" value="24"/>
    <add key="Payroll.SemiMonthly.Column[PhilHealth].Index" value="25"/>
    <add key="Payroll.SemiMonthly.Column[CashAdvance].Index" value="26"/>
    <add key="Payroll.SemiMonthly.Column[SunCellBill].Index" value="27"/>
    <add key="Payroll.SemiMonthly.Column[RegularWorkingHours].Index" value="7"/>
    <add key="Payroll.SemiMonthly.Column[RegularOvertimeWorkingHours].Index" value="8"/>
    <add key="Payroll.SemiMonthly.Column[SundayWorkingHours].Index" value="11"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayWorkingHours].Index" value="13"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayOvertimeWorkingHours].Index" value="15"/>
    <add key="Payroll.SemiMonthly.Column[NightDifferentialWorkingHours].Index" value="10"/>
    <add key="Payroll.SemiMonthly.Column[RegularOvertimePay].Index" value="9"/>
    <add key="Payroll.SemiMonthly.Column[SundayPay].Index" value="12"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayPay].Index" value="14"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayOvertimePay].Index" value="16"/>
    <add key="Payroll.SemiMonthly.Column[GrossPay].Index" value="19"/>
    <add key="Payroll.SemiMonthly.Column[TotalDeduction].Index" value="28"/>
    <add key="Payroll.SemiMonthly.Column[NetPay].Index" value="29"/>
    <add key="Payroll.SemiMonthly.Column[Numbering].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[Employee].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[VacationLeave].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SickLeave].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[DailyRate].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[BasicPay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[Allowance].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[OvertimeAllowance].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[WithholdingTax].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[Sss].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SssEr].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SssEc].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[Pagibig].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[PhilHealth].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[CashAdvance].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SunCellBill].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[RegularWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[RegularOvertimeWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SundayWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayOvertimeWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[NightDifferentialWorkingHours].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[RegularOvertimePay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SundayPay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayPay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[SpecialHolidayOvertimePay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[GrossPay].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[TotalDeduction].Visible" value="true"/>
    <add key="Payroll.SemiMonthly.Column[NetPay].Visible" value="true"/>
  </appSettings>
</configuration>