<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="7" />
    <add key="Module.Code" value="MOD1-0006" />
    <add key="Module.Description" value="PAYROLL" />
    <add key="TripReport.Driver.TemplatePath" value="E:\Desktop\CITICON SYSTEMS FILE\TripReport.Driver.xlsx" />
    <add key="TripReport.Driver.SaveLocation" value="E:\Desktop\CITICON SYSTEMS FILE\Trip Reports\Driver" />
    <add key="TimeLogReport.SaveDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Time-Log Reports"/>
    <add key="TimeLogReport.TemplatePath" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\timelogreport.xlsx"/>
  </appSettings>
</configuration>