<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="4" />
    <add key="Module.Code" value="MOD1-0003" />
    <add key="Module.Description" value="DELIVERIES" />
    <add key="DeliveryReceipt.Template" value="E:\Desktop\CITICON SYSTEMS FILE\delivery_receipt.xlsx" />
    <add key="DeliveryReceipt.SaveLocation" value="E:\Desktop\Citicon Delivery Receipts" />
    <add key="TallySheetReport.Template" value="E:\Desktop\CITICON SYSTEMS FILE\cittalshe_v2.xlsx" />
    <add key="TallySheetReport.SaveDirectory" value="E:\Desktop\CITICON SYSTEMS FILE\Tally Sheets" />
    <add key="ScheduledProjectDesignStatus.Rejected" value="Rejected" />
    <add key="ScheduledProjectDesignStatus.Approved" value="Approved" />
    <add key="ScheduledProjectDesignStatus.FinalApproved" value="Final Approved" />
    <add key="ScheduledProjectDesignStatus.Pending" value="Pending" />
  </appSettings>
</configuration>