<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SemiMonthlyPayrollExportConfigFile" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\semi_monthly_payroll.config" />
  </appSettings>
</configuration>