<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="X" type="System.Configuration.SingleTagEventHandler" />
  </configSections>
  <appSettings>
    <add key="ChequeReport.Template" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\cheque_report.xlsx" />
    <add key="ChequeReport.SaveLocation" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Cheque Reports" />
    <add key="DebugMode" value="False" />
    <add key="Module.Id" value="3" />
    <add key="Module.Code" value="MOD1-0002" />
    <add key="Module.Description" value="PAYABLES" />
    <add key="CodePrefix.Expense" value="EXP1" />
    <add key="CodePrefix.Bank" value="BAN1" />
    <add key="CodePrefix.BankAccount" value="BAN2" />
    <add key="Expense.Salary.Id" value="1" />
    <add key="Expense.Salary.Description" value="SALARY" />
    <add key="Expense.Salary.Code" value="EXP1-0001" />
    <add key="WithHoldingTax_Id" value="75" />
    <add key="Expense[CashInBank].Id" value="76" />
    <add key="Expense[WithHoldingTax].Id" value="75" /> <!-- REQUIRED -->
    <add key="ChequeVoucherTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\citchevou.xlsx" />
    <add key="ChequeVoucherDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon Cheque Vouchers" />
    <add key="ChequeVoucherSignatories" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Cheque_Voucher_Signatories.xml" />
    <add key="MrisReportTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\citmris.xlsx" />
    <add key="MrisReportDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon MRIS Reports" />
    <add key="MRISReportExportMode" value="V2" /> <!-- REQUIRED -->
    <add key="MrisReportTemplateV2" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\citmrisv2.xlsx" /> <!-- REQUIRED -->
    <add key="MrisReportDirectoryV2" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon MRIS Reports" /> <!-- REQUIRED -->
    <add key="ChequeTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\chk.xlsx" />
    <add key="ChequeDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon Cheques" />
    <add key="ChequeVoucher.ExportOption" value="V1" /> <!-- REQUIRED -->
    <add key="ChequeVoucher.Template" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\chevouv2.xlsx" /> <!-- REQUIRED -->
    <add key="ChequeVoucher.SaveDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Cheque Vouchers" /> <!-- REQUIRED -->
    <add key="Payable.Description.InputTax" value="INPUT TAX" />
    <!-- CHEQUE VOUCHER CONFIGURATION -->
    <add key="ChequeVoucher.Location[Payee]" value="2,1" />
    <add key="ChequeVoucher.Location[Date]" value="2,6" />
    <add key="ChequeVoucher.Location[AmountInWords]" value="4,1" />
    <add key="ChequeVoucher.Location[TotalAmount]" value="4,5" />
    <add key="ChequeVoucher.Location[Particulars]" value="7,1" />
    <add key="ChequeVoucher.Location[Accounts]" value="22,1" />
    <add key="ChequeVoucher.Location[AccountsAmount]" value="22,4" />
    <add key="ChequeVoucher.Location[PreparedBy]" value="30,6" />
    <add key="ChequeVoucher.Location[CheckedBy]" value="32,6" />
    <add key="ChequeVoucher.Location[ApprovedBy]" value="34,6" />
    <add key="ChequeVoucher.Location[AuditedBy]" value="36,1" />
    <add key="ChequeVoucher.Location[PostedBy]" value="36,2" />
    <add key="ChequeVoucher.Location[RecordedBy]" value="36,3" />
    <add key="ChequeVoucher.Location[ChequeVoucherNumber]" value="37,4" />
    <add key="ChequeVoucher.Default[Payee]" value="CITICON PAYROLL" />
    <add key="ChequeVoucher.Default[PreparedBy]" value="HAYDEE" />
    <add key="ChequeVoucher.Default[CheckedBy]" value="CVM" />
    <add key="ChequeVoucher.Default[ApprovedBy]" value="DSM" />
    <add key="ChequeVoucher.Default[AuditedBy]" value="" />
    <add key="ChequeVoucher.Default[PostedBy]" value="" />
    <add key="ChequeVoucher.Default[RecordedBy]" value="" />
    <add key="ChequeVoucher.MaxCount[Particulars]" value="13" />
    <add key="ChequeVoucher.MaxCount[Accounts]" value="13" />
    <add key="ChequeVoucher.MaxCount[AccountsAmount]" value="13" />
    <add key="ChequeVoucher.PrintCopies" value="2" />
    <!-- MRIS REPORT CONFIGURATION -->
    <add key="Mris.Location[Date]" value="2,8" />
    <add key="Mris.Location[NameAddress]" value="3,1" />
    <add key="Mris.ColumnIndex[ItemNumber]" value="1" />
    <add key="Mris.ColumnIndex[SiDr]" value="2" />
    <add key="Mris.ColumnIndex[ItemCode]" value="3" />
    <add key="Mris.ColumnIndex[ItemDescription]" value="4" />
    <add key="Mris.ColumnIndex[Unit]" value="6" />
    <add key="Mris.ColumnIndex[Quantity]" value="7" />
    <add key="Mris.ColumnIndex[UnitCost]" value="8" />
    <add key="Mris.ColumnIndex[Amount]" value="9" />
    <add key="Mris.Location[Usage]" value="27,1" />
    <add key="Mris.Location[ReceivedStoredBy]" value="27,5" />
    <add key="Mris.Location[InspectedAcceptedBy]" value="27,6" />
    <add key="Mris.Location[ApprovedBy]" value="27,8" />
    <add key="Mris.Location[MrisNumber]" value="2,6" />
    <add key="Mris.Location[DeliveryDate]" value="3,8" />
    <add key="Mris.RowStartIndex[Item]" value="5" />
    <add key="Mris.MaxCount[Item]" value="22" />
    <add key="Mris.Default[Usage]" value="This is the Usage" />
    <add key="Mris.Default[ReceivedStoredBy]" value="I'm Receiver/Storer" />
    <add key="Mris.Default[InspectedAcceptedBy]" value="I'm Inspector/Acceptor" />
    <add key="Mris.Default[ApprovedBy]" value="I'm Approver" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Mris.PrintCopies" value="2" />
    <!-- MRIS REPORT VERSION 2 CONFIGURATION -->
    <add key="MRISReport.Location[Payee]" value="4,1" />
    <add key="MRISReport.Location[Date]" value="3,9" />
    <add key="MRISReport.Location[MRISNumber]" value="4,9" />
    <add key="MRISReport.Location[Usage]" value="33,1" />
    <add key="MRISReport.Location[ReceivedBy]" value="33,5" />
    <add key="MRISReport.Location[InspectedBy]" value="33,6" />
    <add key="MRISReport.Location[ApprovedBy]" value="33,9" />
    <add key="MRISReport.MaxCount[Item]" value="13" />
    <add key="MRISReport.ColumnIndex[Counter]" value="1" />
    <add key="MRISReport.ColumnIndex[SIDR]" value="2" />
    <add key="MRISReport.ColumnIndex[Code]" value="3" />
    <add key="MRISReport.ColumnIndex[Description]" value="5" />
    <add key="MRISReport.ColumnIndex[MeasurementUnit]" value="6" />
    <add key="MRISReport.ColumnIndex[StockValue]" value="7" />
    <add key="MRISReport.ColumnIndex[UnitPrice]" value="8" />
    <add key="MRISReport.ColumnIndex[Amount]" value="9" />
    <add key="MRISReport.RowIndex[ItemStart]" value="6" />
    <!-- CHEQUE VOUCHER VERSION 2 CONFIGURATION -->
    <add key="ChequeVoucherReport.Location[Date]" value="3,2" />
    <add key="ChequeVoucherReport.Location[ChequeVoucherNumber]" value="3,4" />
    <add key="ChequeVoucherReport.Location[Payee]" value="5,1" />
    <add key="ChequeVoucherReport.Location[AmountInWord]" value="7,1" />
    <add key="ChequeVoucherReport.Location[Amount]" value="7,3" />
    <add key="ChequeVoucherReport.Location[RecordedBy]" value="45,1" />
    <add key="ChequeVoucherReport.Location[PreparedBy]" value="43,4" />
    <add key="ChequeVoucherReport.Location[CheckedBy]" value="44,4" />
    <add key="ChequeVoucherReport.Location[ApprovedBy]" value="45,4" />
    <add key="ChequeVoucherReport.MaxCount[Content]" value="34" />
    <add key="ChequeVoucherReport.Default[RecordedBy]" value="" />
    <add key="ChequeVoucherReport.Default[PreparedBy]" value="HAYDEE" />
    <add key="ChequeVoucherReport.Default[CheckedBy]" value="CVM" />
    <add key="ChequeVoucherReport.Default[ApprovedBy]" value="DSM" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>