<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="X" type="System.Configuration.SingleTagEventHandler"/>
  </configSections>
  <appSettings>
    <add key="DebugMode" value="False"/>
    <add key="Module.Id" value="3"/>
    <add key="Module.Code" value="MOD1-0002"/>
    <add key="Module.Description" value="PAYABLES"/>
    <add key="CodePrefix.Expense" value="EXP1"/>
    <add key="CodePrefix.Bank" value="BAN1"/>
    <add key="CodePrefix.BankAccount" value="BAN2"/>
    <add key="Expense.Salary.Id" value="1"/>
    <add key="Expense.Salary.Description" value="SALARY"/>
    <add key="Expense.Salary.Code" value="EXP1-0001"/>
    <add key="WithHoldingTax_Id" value="75"/>
    <add key="Expense[CashInBank].Id" value="76"/>
    <add key="ChequeVoucherTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\citchevou.xlsx"/>
    <add key="ChequeVoucherDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon Cheque Vouchers"/>
    <add key="ChequeVoucherSignatories" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Cheque_Voucher_Signatories.xml"/>
    <add key="MrisReportTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\citmris.xlsx"/>
    <add key="MrisReportDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon MRIS Reports"/>
    <add key="ChequeTemplate" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\chk.xlsx"/>
    <add key="ChequeDirectory" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\Citicon Cheques"/>
    <add key="Payable.Description.InputTax" value="INPUT TAX"/>
    <!-- CHEQUE VOUCHER CONFIGURATION -->
    <add key="ChequeVoucher.Location[Payee]" value="2,1"/>
    <add key="ChequeVoucher.Location[Date]" value="2,6"/>
    <add key="ChequeVoucher.Location[AmountInWords]" value="4,1"/>
    <add key="ChequeVoucher.Location[TotalAmount]" value="4,5"/>
    <add key="ChequeVoucher.Location[Particulars]" value="7,1"/>
    <add key="ChequeVoucher.Location[Accounts]" value="22,1"/>
    <add key="ChequeVoucher.Location[AccountsAmount]" value="22,4"/>
    <add key="ChequeVoucher.Location[PreparedBy]" value="30,6"/>
    <add key="ChequeVoucher.Location[CheckedBy]" value="32,6"/>
    <add key="ChequeVoucher.Location[ApprovedBy]" value="34,6"/>
    <add key="ChequeVoucher.Location[AuditedBy]" value="36,1"/>
    <add key="ChequeVoucher.Location[PostedBy]" value="36,2"/>
    <add key="ChequeVoucher.Location[RecordedBy]" value="36,3"/>
    <add key="ChequeVoucher.Location[ChequeVoucherNumber]" value="37,4"/>
    <add key="ChequeVoucher.Default[Payee]" value="CITICON PAYROLL"/>
    <add key="ChequeVoucher.Default[PreparedBy]" value="HAYDEE"/>
    <add key="ChequeVoucher.Default[CheckedBy]" value="CVM"/>
    <add key="ChequeVoucher.Default[ApprovedBy]" value="DSM"/>
    <add key="ChequeVoucher.Default[AuditedBy]" value=""/>
    <add key="ChequeVoucher.Default[PostedBy]" value=""/>
    <add key="ChequeVoucher.Default[RecordedBy]" value=""/>
    <add key="ChequeVoucher.MaxCount[Particulars]" value="13"/>
    <add key="ChequeVoucher.MaxCount[Accounts]" value="13"/>
    <add key="ChequeVoucher.MaxCount[AccountsAmount]" value="13"/>
    <!-- MRIS REPORT CONFIGURATION -->
    <add key="Mris.Location[Date]" value="2,8"/>
    <add key="Mris.Location[NameAddress]" value="3,1"/>
    <add key="Mris.ColumnIndex[ItemNumber]" value="1"/>
    <add key="Mris.ColumnIndex[SiDr]" value="2"/>
    <add key="Mris.ColumnIndex[ItemCode]" value="3"/>
    <add key="Mris.ColumnIndex[ItemDescription]" value="4"/>
    <add key="Mris.ColumnIndex[Unit]" value="6"/>
    <add key="Mris.ColumnIndex[Quantity]" value="7"/>
    <add key="Mris.ColumnIndex[UnitCost]" value="8"/>
    <add key="Mris.ColumnIndex[Amount]" value="9"/>
    <add key="Mris.Location[Usage]" value="27,1"/>
    <add key="Mris.Location[ReceivedStoredBy]" value="27,5"/>
    <add key="Mris.Location[InspectedAcceptedBy]" value="27,6"/>
    <add key="Mris.Location[ApprovedBy]" value="27,8"/>
    <add key="Mris.Location[MrisNumber]" value="2,6"/>
    <add key="Mris.Location[DeliveryDate]" value="3,8"/>
    <add key="Mris.RowStartIndex[Item]" value="5"/>
    <add key="Mris.MaxCount[Item]" value="22"/>
    <add key="Mris.Default[Usage]" value="This is the Usage"/>
    <add key="Mris.Default[ReceivedStoredBy]" value="I'm Receiver/Storer"/>
    <add key="Mris.Default[InspectedAcceptedBy]" value="I'm Inspector/Acceptor"/>
    <add key="Mris.Default[ApprovedBy]" value="I'm Approver"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>