<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="True"/>
    <add key="Module.Id" value="2"/>
    <add key="Module.Code" value="MOD1-0001"/>
    <add key="Module.Description" value="INVENTORY"/>
    <add key="AcceptedBy.SuggestionsLookup" value="C:\Users\Josua\Desktop\CITICON SYSTEMS FILE\accptby_sggst.ini"/>
    <add key="ReleasedBy.SuggestionsLookup" value="C:\Users\Josua\Desktop\CITICON SYSTEMS FILE\rlsdby_sggst.ini"/>
    <add key="RequestedBy.SuggestionsLookup" value="C:\Users\Josua\Desktop\CITICON SYSTEMS FILE\rqstdby_sggst.ini"/>
    <add key="MrisReportTemplate" value="C:\Users\Josua\Desktop\CITICON SYSTEMS FILE\mris.xlsx"/>
    <add key="MrisReportDirectory" value="C:\Users\Josua\Desktop\MRIS Reports"/>
    <add key="IssuanceSlipTemplate" value="C:\Users\Josua\Desktop\CITICON SYSTEMS FILE\Issuance Slip.xlsx"/>
    <add key="IssuanceSlipDirectory" value="C:\Users\Josua\Desktop\Issuance Slip"/>
    <!-- CODE PREFIXES -->
    <add key="CodePrefix.Supplier" value="SUP1"/>
    <add key="CodePrefix.Classification" value="CLA1"/>
    <add key="CodePrefix.Branch" value="BRA1"/>
    <add key="CodePrefix.SubClassification" value="SUB1"/>
    <add key="CodePrefix.VehicleType" value="VEC1"/>
    <add key="CodePrefix.Company" value="COM1"/>
    <add key="CodePrefix.Item" value="ITE1"/>
    <!-- CODE PREFIXES -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>