﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Template" value="C:\Users\user_2\Desktop\CITICON SYSTEMS FILE\semmonpay.xlsx"/>
    <add key="Payroll_Items_Row_Margin" value="7"/>
    <add key="Save_Directory" value="C:\Users\user_2\Desktop\Payroll"/>

    <!-- Column Index -->
    <add key="ColumnIndex[Counter]" value="1"/>
    <add key="ColumnIndex[Employee]" value="2"/>
    <add key="ColumnIndex[VLSL]" value="3"/>
    <add key="ColumnIndex[Rate]" value="4"/>
    <add key="ColumnIndex[Basic_Pay]" value="5"/>
    <add key="ColumnIndex[Regular_Working_Hours]" value="6"/>
    <add key="ColumnIndex[Regular_Overtime_Pay]" value="7"/>
    <add key="ColumnIndex[ND_OT_Hours]" value="8"/>
    <add key="ColumnIndex[NT_125_Percent]" value="9"/>
    <add key="ColumnIndex[Sunday_Hours]" value="10"/>
    <add key="ColumnIndex[Sunday_Pay]" value="11"/>
    <add key="ColumnIndex[Special_Holiday_Hours]" value="12"/>
    <add key="ColumnIndex[Special_Holiday_Pay]" value="13"/>
    <add key="ColumnIndex[Special_Holiday_Overtime_Hours]" value="14"/>
    <add key="ColumnIndex[Special_Holiday_Overtime_Pay]" value="15"/>
    <add key="ColumnIndex[Overtime_Allowance]" value="16"/>
    <add key="ColumnIndex[Allowance]" value="17"/>
    <add key="ColumnIndex[Gross_Pay]" value="18"/>
    <add key="ColumnIndex[With_Holding_Tax]" value="19"/>
    <add key="ColumnIndex[SSS]" value="20"/>
    <add key="ColumnIndex[SSS_Loan]" value="21"/>
    <add key="ColumnIndex[Pagibig_Loan]" value="22"/>
    <add key="ColumnIndex[Cash_Advance]" value="23"/>
    <add key="ColumnIndex[Sun_Cell_Bill]" value="24"/>
    <add key="ColumnIndex[Total_Deduction]" value="25"/>
    <add key="ColumnIndex[Net_Pay]" value="26"/>
    <add key="ColumnIndex[SSS_EC]" value="28"/>
    <add key="ColumnIndex[SSS_ER]" value="29"/>

    <!-- Formula -->
    <add key="Formula[Regular_Overtime_Pay]" value="[Rate] / 8 * [Regular_Working_Hours] * 1.25"/>
    <add key="Formula[NT_125_Percent]" value="[Rate] / 8 * [ND_OT_Hours] * 1.25 * 0.1"/>
    <add key="Formula[Sunday_Pay]" value="[Rate] / 8 * [Sunday_Hours] * 1.3"/>
    <add key="Formula[Special_Holiday_Pay]" value="[Rate] / 8 * [Special_Holiday_Hours] * 1.3"/>
    <add key="Formula[Special_Holiday_Overtime_Pay]" value="[Rate] / 8 * [Special_Holiday_Overtime_Hours] * 1.6"/>
    <add key="Formula[Gross_Pay]" value="[Basic_Pay] + [Regular_Overtime_Pay] + [NT_125_Percent] + [Sunday_Pay] + [Overtime_Allowance] + [Allowance] + [Special_Holiday_Pay] + [Special_Holiday_Overtime_Pay]"/>
    <add key="Formula[Total_Deduction]" value="[With_Holding_Tax] + [SSS] + [Cash_Advance] + [Pagibig_Loan] + [Sun_Cell_Bill] + [SSS_Loan]"/>
    <add key="Formula[Net_Pay]" value="[Gross_Pay] - [Total_Deduction]"/>

    <!-- Cell Column Index -->
    <add key="Cell.ColumnIndex[Branch]" value="2"/>
    <add key="Cell.ColumnIndex[Payroll_Range]" value="2"/>

    <!-- Cell Row Index -->
    <add key="Cell.RowIndex[Branch]" value="4"/>
    <add key="Cell.RowIndex[Payroll_Range]" value="3"/>
    
    <!-- Cell Font Color -->
    <add key="Cell.FontColor[Sunday_Hours]" value="#FFFF"/>
  </appSettings>
</configuration>
