<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Module.Code" value="MOD1-0003" />
    <add key="Module.Id" value="4" />
    <add key="Module.Description" value="QUOTATION" />
    <add key="Qoutation.SourceLocation" value="\\citiconsvr\Users\Administrator\Desktop\CITICON SYSTEMS FILE\Quotations" />
    <add key="ScheduledProjectDesignStatus.Rejected" value="Rejected" />
    <add key="ScheduledProjectDesignStatus.Approved" value="Approved" />
    <add key="ScheduledProjectDesignStatus.FinalApproved" value="Final Approved" />
    <add key="ScheduledProjectDesignStatus.Pending" value="Pending" />
  </appSettings>
</configuration>