<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Module.Code" value="MOD1-0003"/>
    <add key="Module.Id" value="4"/>
    <add key="Module.Description" value="QUOTATION"/>
    <add key="Qoutation.SourceLocation" value="\\MIS-JOSH\Users\user_2\Desktop\CITICON SYSTEMS FILE\Quotations"/>
  </appSettings>
</configuration>