<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Module.Id" value="8" />
    <add key="Module.Code" value="MOD1-0007" />
    <add key="Module.Description" value="HUMAN RESOURCE" />
  </appSettings>
</configuration>